version: '3.8'

services:
  clinic-bot:
    container_name: clinic-bot
    build: .
    env_file: .env
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./data:/app/data
    networks:
      - clinic-network

networks:
  clinic-network:
    driver: bridge
